<div class="about-main">
  <h2>TAG!TRIPとは</h2>
  <p>
    『自分のまちに来て欲しい』<br>
    と思う誰もが投稿でき、<br>
    旅行者に発信することができるアプリ<br>
    旅行目的に合わせたタグ検索で<br>
    あなた好みの旅行を叶えます<br>
  </p>
  <!--イメージ画像-->
  <img class="about-img" src="/about.jpg">
</div>